<div class="row justify-content-center m-0" style="width: 100vw;">
  <div class="col-md-8 col-lg-6 col-xl-5 p-4">
    <form [formGroup]="genreForm__input" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="d-flex align-items-center">
          <label
            for="genre"
            style="padding-top: 7px;"
            class="pl-2 bmd-label-floating text-info"
            >Жанр:</label
          >
          <input
            id="genre"
            type="text"
            class="form-control"
            formControlName="genre"
            required
          />
          <button
            style="margin-top: 6px; margin-right: 1px;"
            type="submit"
            class="btn btn-outline-info"
            [disabled]="!genreForm__input.valid"
          >
            ДОБАВИТЬ
          </button>
        </div>
        <div *ngIf="formErrors" class="alert alert-danger">
          {{ formErrors }}
        </div>
      </div>
    </form>
  </div>
</div>
