/* Задание
Создайте на странице 10 параграфов зеленого цвета, 
размером 100рх х 100рх. Задайте им зелёный цвет
и расположите горизонтально друг за другом. */
.tnP > p {
  width: 100px;
  height: 100px;
  background-color: green;
  display: inline-block;
}
