aside {
  background-color: #7f8c8d;
  width: 19.5vw;
  .item {
    .item-head {
      padding-top: 10px;
      padding-bottom: 5px;
      text-align: center;
      color: #e74c3c;
    }
    .item-body {
      text-align: center;
    }
  }
}
