* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body,
button {
  background-color: #95a5a6;
}
button,
input,
option,
select {
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Manrope, sans-serif;
  padding: 5px;
  border: none;
}
button + button {
  margin-left: 5px;
}
#tab-1,
#tab-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
#tab-1:checked ~ .tabs__label-authors {
  background-color: #34495e;
}
#tab-1:checked ~ .tabs__content-authors {
  display: block;
  background-color: #34495e;
}
#tab-2:checked ~ .tabs__label-genre {
  background-color: #34495e;
}
#tab-2:checked ~ .tabs__content-genre {
  display: block;
  background-color: #34495e;
}
.wrapper {
  font-family: Manrope, sans-serif;
  height: 500px;
  max-width: 320px;
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 250px);
  background-color: #2c3e50;
}
.tabs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
[class^="authorsTabs__label"],
[class^="tabs__label"] {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #ecf0f1;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 14px;
}
[class^="authorsTabs__content"],
[class^="tabs__content"] {
  display: none;
  width: 100%;
}
#authorTab-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.authorsTabs__content-showAuthor {
  display: block;
  background-color: #465463;
  padding-bottom: 15px;
}
.tabs__content-authors {
  position: relative;
}
.authorsTabs__wrapper {
  max-height: 387px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.authorsTabs__label-addAuthors {
  left: 0;
  width: 160px;
  bottom: 11px;
  position: absolute;
}
.authorsTabs__label-showAuthor {
  background-color: #465463;
  right: 0;
  bottom: 11px;
  position: absolute;
  height: 39px;
  width: 160px;
}
.showAuthor__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 15px;
}
.showAuthor__item > * {
  margin-top: 10px;
}
.showAuthor-author,
.showAuthor-books {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.genre__wrapper {
  max-height: 420px;
  overflow-y: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 50px;
}
.genre__add {
  border-radius: 5px;
  background-color: #465463;
  margin-bottom: 15px;
  padding: 15px;
}
.genre__text {
  overflow: hidden;
  max-width: 150px;
  white-space: pre-wrap;
}
#add-1 {
  width: 115px;
}
.genre__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}
.genre__deleteBtn {
  margin-left: auto;
}
.module__alert {
  z-index: 100;
  position: absolute;
  width: 75%;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: #95a5a6;
  padding: 5px 30px 5px 5px;
}
.module__alert button {
  line-height: 0;
  padding: 0;
  width: 25px;
  height: 30px;
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.module__alert ~ * {
  pointer-events: none;
}
.module__window {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #34495e;
  z-index: 10;
  padding: 30px;
  overflow-y: auto;
}
.module__window p + h5 {
  margin-top: 5px;
}
.module__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.module__btn-save {
  margin-top: 10px;
}
.module__books {
  padding: 5px;
}
[class^="book"] {
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 5px;
  padding: 15px;
}
.module__window-h5Book {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.module__window-h5Book h5 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.module__window-h5Book button {
  width: 50%;
  padding: 0;
  height: 39px;
}
.module__window-h5Book select {
  width: 50%;
  height: 39px;
}
.module__window-h5Book input {
  width: 100%;
}
.module__window-h5Book button,
.module__window-h5Book input,
.module__window-h5Book select {
  border: 1px solid #000;
}
.showAuthor-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.showAuthor-sort h5 {
  margin-top: 10px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.showAuthor-sort input,
.showAuthor-sort select {
  height: 30px;
  max-width: 50%;
}
[class^="select__sort"] {
  display: block;
  background-color: #95a5a6;
}
.searchAndSelect-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.searchAndSelect-main input,
.searchAndSelect-main select {
  width: 50%;
}
