<div class="row">
  <div class="col">
    <button
    type="button"
    class="btn btn-info"
    (click)="addBook()"
  >
    ДОБАВИТЬ КНИГУ
  </button>
  </div>
</div>
<div class="row m-0" *ngIf="arr">
  <div
    class="col-md-6 col-lg-4 col-xl-3 mt-2"
    *ngFor="let item of arr; let i = index"
  >
    
    <div id="{{ item.id }}" 
    class="card" style="max-width: 18rem;">
      <div class="card-body" >
          <app-book-form [item]="item"></app-book-form>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteBook(item.nameOfBook)"
        >
          УДАЛИТЬ
        </button>
      </div>
    </div>
  </div>
</div>
