.bg-asfalt {
  background-color: #34495e;
}

.bg-dkgrey {
  background-color: #7f8c8d;
}

.bg-dkwhite {
  background-color: #ecf0f1;
}

body {
  background-color: #7f8c8d;
}

.header .full-name {
  color: #ecf0f1;
  font-size: 36px;
  margin-bottom: 0;
}

.header .prof {
  color: #bdc3c7;
  font-size: 24px;
}

.header img {
  margin: 10px 10px;
  max-width: 90%;
  max-height: 300px;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #34495e;
  }
}